@import url(//fonts.googleapis.com/css?family=Muli);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    background-color:#848482;
}

p {
    line-height: 1.8;
}

a {
    color:#12c064;
    text-decoration:none;
}

a:hover {
    color:#00a74f;
}

h1, h2, h3, h4, h5 , h6 { font-family: 'Muli', sans-serif; font-weight:normal; }

h1 {
    border-bottom:0.0625rem solid #bbb;
    padding:0 0 0.625rem 0;
    margin:0.625rem 0 1.25rem 0;
}

h2 {
    margin:1.875rem 0 1.25rem;
}

ol {
    line-height:1.5;
}

#header {
    padding:0.625rem 6.25rem;
    font-size:0.875rem;
    background:#00cccc;
    color:#aaa;
    border-bottom:0.25rem solid #1cdf78;
    overflow:auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color:#f3f7cc;
    font-size:1.25rem;
    margin-right:10%;
}

#header ul.menu {
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}
#header ul.menu li {
    float:left;
    padding:0.25rem 0.625rem;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color:#1b6d32;
    font-weight:bold;
}

#header a {
    color:#f3f7cc;
}
#header a:hover {
    color:#fff;
}

#header .user {
    float:right;
    padding-top:0.25rem;
    font-weight:bold;
    color:#fedf00;
}

#content {
    padding:1.875rem 6.25rem;
}

/* forms */
form {
    overflow:auto;
}

form p {
    width:auto;
    overflow:auto;
}

label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:0.25rem;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 0.625rem;
    background:orange;
    border:0;
    padding:0.375rem 0.625rem;
    font-size:0.875rem;
}
input[type=submit], a.button {
    font-weight:bold;
    background:orange;
    color:#fff;
    padding:0.625rem 1.25rem;
    font-size:0.875rem;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:0.625rem;
}
.helptext {
    margin:0 0 1.25rem 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:0.8175rem;
}
/* messages */
ul.messages {
    margin:0.625rem 6.25rem;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:0.875rem 1.25rem;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

.login-form {
    float:left;
}

/* social-auth */
.social {
    float:right;
}
.social li {
    list-style:none;
    padding:0.625rem 1.25rem;
    margin:0 0 0.625rem 0;
}
.social li a {
    width:auto;
    height:auto;
    display:block;
    color:#fff;
}
.social li.facebook { background:#3b5399; }
.social li.twitter { background:#00cffa; }
.social li.google { background:#de1710; }


/* images */

.image-preview, .image-detail {
    max-width:18.75rem;
    float:left;
    margin:0 1.25rem 1.25rem 0;
}
.image-detail { margin-top:1.25rem; }
.image-info div {
    padding:1.25rem 0;
    overflow:auto;
}
.count {
    color:#aaa;
    border:0.1875rem solid #bbb;
    border-radius:26px;
    padding:0.625rem 1.25rem;
    margin:1.25rem 0.625rem 0;
}
a.like, a.follow { float:right; margin-top:-8px; }

#image-list { overflow:auto; }
#image-list .image {
    float:left;
    width:auto;
    height:auto;
    margin:0 0.625rem 0.625rem 0.625rem;
    border-top:0.5rem solid #12c064;
    background:#eee;
}
#image-list img { width:21.25rem; height:21.25rem; }
#image-list .info { padding:0.625rem; }
#image-list .info a { color:#333; }
.image-likes div {
    float:left;
    width:auto;
    padding:0.625rem;
    text-align:center;
}
.image-likes img {
    width:13.75rem;
    height:13.75rem;
    border-radius:50%;
}

/* users */
#people-list img {
    width:11.25rem;
    height:11.25rem;
    border-radius:50%;
    margin-bottom:1.25rem;
}
#people-list .user {
    width:11.25rem;
    float:left;
    overflow:auto;
    padding:0.625rem;
}
#people-list .info { text-align:center; }
img.user-detail {
    border-radius:50%;
    float:left;
}
.profile-info {
    float:left;
    overflow:auto;
    margin-right:1.25rem;
}
.image-container { margin-top:2.5rem; }

/* actions */
.action {
    clear:both;
    overflow:auto;
}
.action .images {
    float:left;
    margin:0 0.625rem 0.625rem 0;
}
.action .date {
    font-style:italic;
    color:#ccc;
}